{% extends "base.html"%}
{% block title %} Home Page {% endblock %}
{% block content %}
<h1 class = "text-center"> Pattern Development </h1>
<hr>
<br> <br> 

<form method = "post">
	<div class = "row">
		<div class = "col-sm-3 offset-sm-1 " style = "background-color: #eee; position:relative; top:15px; border-radius: 10px">
			<p class = "text-center"><b> Spot radius </b></p>
			<p class = "donate-now" > 
				<input class="btn btn-outline-dark" style = "margin-right: 24%" type = "radio" name = "radius" id = "5" value = "5" /> <label for = "5"> 5 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "radius" id = "15" value = "15" /> <label for = "15"> 15 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "radius"  id = "30" value = "30" /> <label for = "30"> 30 </label>
			</p>
			<br>
			<p class = "text-center"><b> Spacing </b></p>
			<p class = "donate-now"> 
				<input class="btn btn-outline-dark" style = "margin-right: 22%" type = "radio" name = "spacing" id = "10" value = "10" /> <label for = "10"> 10 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "spacing" id = "20" value = "20" /> <label for = "20"> 20 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "spacing" id = "50" value = "50" /> <label for = "50"> 50 </label>
			</p>
			<br>
			<p class = "text-center"><b> Relative acting distance (d1/d2) </b> </p>
			<p class = "donate-now"> 
				<input class="btn btn-outline-dark" style = "margin-right: 10%" type = "radio" name = "d1d2" id = "0.35" value = "0.35" /> <label for = "0.35"> 0.35 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "d1d2" id = "0.4" value = "0.4" /> <label for = "0.4"> 0.4 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "d1d2" id = "0.45" value = "0.45" /> <label for = "0.45"> 0.45 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "d1d2" id = "0.5" value = "0.5" /> <label for = "0.5"> 0.5 </label>
			</p>
			<br>
			<p class = "text-center"><b> Relative strength (b) </b></p>
			<p class = "donate-now"> 
				<input class="btn btn-outline-dark" style = "margin-right: 15%" type = "radio" name = "b" id = "4" value = "4" /> <label for = "4"> 4 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "b" id = "4.5" value = "4.5" /> <label for = "4.5"> 4.5 </label>
				<input class="btn btn-outline-dark" type = "radio" name = "b" id = "6" value = "6" /> <label for = "6"> 6  </label>
				<input class="btn btn-outline-dark" type = "radio" name = "b" id = "7.5" value = "7.5" /> <label for = "7.5"> 7.5 </label>
			</p>
			<br>
			<p class = "text-center"><b> Growth noise </b></p>
			<p class = "donate-now"> 
				<input class="btn btn-outline-dark" style = "margin-right: 2%" type = "radio" name = "growth" id = "1" value = "1" /> <label for = "1"> None </label>
				<input class="btn btn-outline-dark" type = "radio" name = "growth" id = "2" value = "2" /> <label for = "2"> Low </label>
				<input class="btn btn-outline-dark" type = "radio" name = "growth" id = "3" value = "3" /> <label for = "3"> Medium </label>
				<input class="btn btn-outline-dark" type = "radio" name = "growth" id = "4" value = "4" /> <label for = "4"> High </label>
			</p>
		</div>
		<div class = "column">
			<h3 class = "text-center"> Seeding Configuration </h3>
			<br>
			<div style = "height:400px; border:1px solid black;">
				{{output}}
			</div>
			<br>
			<p class = "text-center"> 
				<input class="btn btn-primary btn-dark" type = "submit" value = "Generate initial configuration" /> 
			</p>
		</div>
		<div class = "column">
			<h3 class = "text-center"> Pattern at t = 0 </h3>
			<br>
			<div style = "height:400px; border:1px solid black;">

				
			</div>
			<br>
			<p class = "text-center"> 
				<input class="btn btn-primary btn-dark" type = "submit" value = "Encode" /> 
			</p>
		</div>
	</div>

<form>

{% endblock %}